<div class="sn">
  <div class="sn_header">
    <div class="sn_elm_close">
       <a id="open_sn_btn" href="#!"><i class="material-icons"  style="margin-top: 10px; color: #5E5E5E;">keyboard_arrow_right</i></a>
    </div >
    <div class="sn_elm_open">
      <a id="close_sn_btn" href="#!" class="right"><i class="material-icons" style="margin-top: 3px; color: #5E5E5E;">close</i></a>
      <div class='inline-area'>
        <div class="profil_round">
          JR
        </div>
        <div class='profil_name'>Jean Rennoir</div>
      </div>
      <br>
      <div class='inline-area' style='width: 100%;'>
        <a class='dropdown-button btn' href='#' data-activates='dropdown_mail' style='width: 100%;'><div class='profil_mail'>Tous</div></a>
        <a class='btn-flat right' style='width: 45px; padding: 0; margin-left: 10px;'><i class="material-icons" style='font-size: 20px; color: #5E5E5E;'>settings</i></a>
        </div>
      <!-- Dropdown Structure -->
      <ul id='dropdown_mail' class='dropdown-content'>
        <li><a href="#!">Toutes les adresses</a></li>
        <li><a href="#!">adresse1@google.com</a></li>
        <li><a href="#!">adresse1@google.com</a></li>
        <li><a href="#!"><i class="material-icons" style='font-size: 20px;'>add</i>Ajouter</a></li>
      </ul>
    </div>
  </div>
  <div class="sn_body">
      <%= render 'groups/group1' %>
      <br>
      <%= render 'groups/group2' %>
      <br>
      <%= render 'groups/group3' %>
  </div>
  <div class="sn_body">
   
      <%= render 'groups/group4' %>
      <br>
      <%= render 'groups/group5' %>
      <br>
      <%= render 'groups/group6' %>
    
  </div>
  <div class="sn_body">
    <div class="sn_elm_open" style="text-align: center;">
      <div class='group_title'>
        <div class='group_title_icon'>
          <i class="material-icons" style='font-size: 20px; padding-top: 3px;'>group</i>
        </div>
        <div class='group_title_name'>
          Groupes
        </div>
      </div>
    </div>
    <div class="sn_elm_close">
      <div class='group_title'>
        <div class='group_title_icon'>
          <i class="material-icons" style='font-size: 20px; padding-top: 3px;'>group</i>
        </div>
      </div>
    </div>
    <%= render 'groups/group' %>
    <%= render 'groups/group' %>
    <%= render 'groups/group' %>
    <%= render 'groups/group' %>
    <%= render 'groups/group' %>
    <%= render 'groups/group' %>
    <%= render 'groups/add' %>
    <%= render 'groups/group' %>
  </div>
</div>
<script>  
  $(document).ready(function () {
    event.preventDefault();
    // Check if sn is open
    if (sessionStorage.getItem('sn_opened')){
      $('.sn').addClass('open');
      $('.sn, .body_box').css({'transition' : 'margin 0s'})
    }
    // & add the params
    if($(".sn").hasClass("open")) {
      $('.sn_elm_close').hide();
      $('.sn_elm_open').show();
      $('.body_box').css("margin-left", "250px");
    }else{
      $('.sn_elm_close').show();
      $('.sn_elm_open').hide();
    }
    // Open sn
    $('#open_sn_btn').on('click', function (event) {
      event.preventDefault();
      sessionStorage.setItem('sn_opened', true)
      $('.sn').addClass('open');
      $('.body_box').css("margin-left", "250px");
      $('.sn_elm_close').hide();
      $('.sn_elm_open').show();
    });
    // Close sn
    $('#close_sn_btn').on('click', function (event) {
      event.preventDefault();
      sessionStorage.removeItem('sn_opened', false)
      $('.sn').removeClass('open');
      $('.body_box').css("margin-left", "50px");
      $('.sn_elm_close').show();
      $('.sn_elm_open').hide();
    });
  });
</script>